<div class="home-visitors">
  <div class="intro-top">
    <div class="logo"><img src="http://placehold.it/100x100" alt=""></div>
    <p>Something nice here</p>
  </div>
  <div class="row home-btn-nav">
    <%= link_to 'Agenda', agenda_index_path, class: "btn btn-secondary"%>
    <%= link_to 'Speakers', new_user_registration_path, class: "btn btn-secondary"%>
    <%= link_to 'Projects', projects_path, class: "btn btn-secondary"%>
    <%= link_to 'Search everything', new_user_registration_path, class: "btn btn-secondary"%>
  </div>
</div>
