<div class="home-visitors">


  <!-- <%= link_to 'Log in', new_user_session_path, class: "login btn btn-primary"%>
  <br>
  <%= link_to 'Sign up', new_user_registration_path, class: "signup"%> -->
  <div class="intro-top">
    <div class="logo"><img src="http://placehold.it/100x100" alt=""></div>
  </div>
  <p>tour slider goes here</p>
  <%= link_to 'START', new_user_registration_path, class: "btn btn-secondary sticky-btm"%>
</div>
