.btn{
  background: $turqoise;
  color: $mypurple!important;
  &.btn-social-icon{
    color: $white!important;
  }
  &.flat{
    background:transparent;
    box-shadow:none;
    padding:0 .7em;
  }
}

.btn-floating{
  border-radius:50%!important;
  i{
    color:$mypurple;
  }
}
