.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}

.hero{
  height: 5em;
  justify-content: center;
  align-items: center;
  background: $mypurple;
  color: $white;
  a{
    color:inherit;
  }
}

.title-area {
    padding: 1em;
    background: $turqoise;
    color: $mypurple;
    h3{
      margin:0;
    }
}
