/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // GENERAL //
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";
@import "font-awesome";
@import "chosen";
@import "circle";
@import "helpers";

$purple: $mypurple;


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight:300;
}
.my-container{
  padding:1em;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}

.hero {
    height: 10em;
    justify-content: center;
    align-items: center;
    &.messages-hero{
      background: $purple;
      color: $white;
      i{
        font-size:2em;
      }
    }
    &.conversation-hero{
      background: $purple;
      color: $white;
      i{
        font-size:2em;
      }
    }
    &.signup-hero{
      background: $purple;
      color: $white;
      i{
        font-size:2em;
      }
    }
    &.project-hero{
      &:after{
        background: transparentize($black, .5);;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 140px;
        content: '';
      }
    }
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

// NAVIGATION


.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons{
  margin-right:15px;
  color: $purple;
  font-size: 1.2em;
}
.side-nav{
  a{
    &:focus{
      text-decoration: none;
      color: inherit;
    }
    &:hover{
      text-decoration: none;
      color: inherit;
    }
  }
}

.navbar{
  padding: 1em;
  left: auto;
  width:100%;
  .button-collapse{
    i{
      font-size: 3em;
    }
  }
  &.stuck{
    background: #9D50BB;
    background: -webkit-linear-gradient(to left, #9D50BB, #6E48AA);
    background: -webkit-linear-gradient(right, #9D50BB, #6E48AA);
    background: linear-gradient(to left, #9D50BB, #6E48AA);
    transition: all ease-in-out 300ms;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.34);
  }
}
.navbar-fixed-top{
  // z-index: 99999!important;
}

// ELEMENTS //

.fixed-top {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}



.btn{
  background: $turqoise;
  &.flat{
    background:transparent;
    box-shadow:none;
    padding:0 .7em;
  }
  &.btn-round{
    border-radius:50px;
    color: $purple;
    padding: 0 3em;
  }
}
.btn-floating{
  border-radius:50%!important;
  i{
    color:$purple;
  }
}


body{
  color: $dark-grey;
}
img{
  max-width:100%;
}
//navigation
.canvas {
    padding: 0!important;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;

    .navbar-toggle{
      border:0;
    }
}



.settings{
  .fa{
    color:transparentize($white, .3);
    font-size: 2em;
    margin: 10px;
  }
}

// notice and alert
.notice, .alert {
    position: absolute;
    color:red;
}

//logo
.logo {
    display: block;
    text-align: center;
    margin-bottom:1em;
    img{
      // border-radius:50%;
      max-width:150px;
    }
}
a.signup {
    position: fixed;
    bottom: 0;
    background: $purple;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.signup-btn{
  position: relative;
  .btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 5em;
    color: $purple;
  }
}


.home-visitors{
  height:100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  // justify-content: center;
}

.home-logged{
  height:100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #51427c 0%, #28213e 100%);
  overflow: hidden;
}

.intro-top{
  height:60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3em;
  h2{
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5em;
    font-weight: 200;
  }
}
.sticky-btm{
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  &.btn{
    padding:20px;
  }
}
.btn{
  border-radius: 0px;
}
.btn-secondary{
background: $turqoise;
color:$purple;
}
.home-btn-nav{
  display: flex;
  flex-wrap: wrap;
  height:40vh;
  .btn{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    border: 1px solid $purple;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.flex{
  display: flex;
}
.event{
  background: #f5f5f5;
  // color: $white;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
  &:first-of-type{
    margin-top: 1em;
  }
  .time{
    background:$purple;
    color:#fff;
    justify-content: center;
    align-items: center;
    .hour{
      font-size:2.2em;
    }
    .minutes{
      font-size: .7em;
      margin-top: -1.5em;
      margin-left: .3em;
    }
  }
  a{
    color:inherit;
    &:focus{
      text-decoration: none;
      color:inherit;
    }
    &:hover{
      text-decoration: none;
      color:inherit;
    }
  }
  .ev-body{
    padding:1em;
    h4{
      color:$purple;
    }
    .speaker{
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  [class*='col-']{
    &:last-child{
      padding-right:0;
    }
  }
  &.js-extended{
    .time{
      flex-direction: column;
    }
    .profile-img{
      margin-bottom:10px;
    }
  }
}
.half-blocks{
  display: flex;
  flex-direction: column;
  .half{
    display: flex;
    height:50%;
    align-items: center;
    justify-content: center;
    &:first-child{
      background:$turqoise;
      color:$purple;
    }
    &:last-child{
      background:$purple;
      color:$white;
    }
  }
}


.progress {
    height: 40px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: none
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 15px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background-color: #1EE7D5;
}


.intro{
display: flex;
flex-direction: column;
align-items: center;
height: 60vh;
justify-content: center;
background: #9D50BB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #9D50BB , #6E48AA); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #9D50BB , #6E48AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.user-name {
    color: $white;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
}
.title{
  color: transparentize($white, 0.5);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
}
.social{
  a{
    color:$white;
    font-size: 1.5em;
  }
}
.contact {
  background: $turqoise;
  border: 0;
  width:70%;
  padding: 15px;
  letter-spacing: 2px;
  border-radius: 40px;
  margin-bottom: -100px;
  margin-top: 70px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.35);
  .fa{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    padding-left: 2px;
    &.full{
      background: $purple;
      color: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.summary {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.project-desc {
    // background: $turqoise;
    // padding-bottom: 15px;
    margin-top: 20px;
    .screenshot {
    // background: lighten($purple, 60%);
    // height: 30vh;
    }
    .body{
      padding:50px;
      background: $purple;
      color:$white;
      .project-name{
        color: $turqoise;
      }
    }
    a{
      color:$white;
    }
    .tags {
      margin-top: 2em;
    }
    .label{
      margin: 5px;
      padding: 0;
      letter-spacing: 2px;
      font-weight: 200;
      display: inline-block;
      a{
        border: 1px solid;
        color: $white;
        padding: 10px 15px;
        display: inline-block;
        border-radius: 50px;
        &:hover{
          text-decoration: none;
          background: $white;
          color: $purple;
        }
      }
      &:first-child{
        margin-left:0;
      }
      &:last-child{
        margin-right:0;
      }
      &.secondary{
        a{
          color:$purple;
        }
      }
    }
}

.avatar{
  position:relative;
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin:0 auto 1em;
  // margin-bottom: 1em;
  border-radius: 50%;
  &.small{
    height: 30px;
    width: 30px;
  }
}
.upload_pic{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload_pic, .upload_pic_label{
  font-size: 1em;
  font-weight: 200;
  color: $light-grey;
  background-color: transparent;
  display: block;
  padding: .5em;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.upload_pic:focus, .upload_pic_label:focus,
.upload_pic:hover, .upload_pic_label:hover {
    background-color: $purple;
    color:$white;
}
// form#edit_speaker_1 {
//     position: absolute;
//     top: 50%;
// }
// form#edit_speaker_1:after {
//     content: '+';
//     position: absolute;
//     color: #964fb8;
//     top: 0;
//     line-height: 40px;
//     text-align: center;
//     margin: 0 auto;
//     top: 40%;
//     background: #fff;
//     width: 40px;
//     font-size: 25px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
//     border-radius: 50%;
// }
//
// input#speaker_avatar {
//     color: transparent;
//     opacity: 0;
//     width: 40px;
//     height: 40px;
// }

//stars


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1551px 1358px #FFF , 1631px 1199px #FFF , 824px 1409px #FFF , 1444px 982px #FFF , 763px 223px #FFF , 198px 1796px #FFF , 722px 1547px #FFF , 1595px 1662px #FFF , 98px 10px #FFF , 1556px 570px #FFF , 1962px 839px #FFF , 994px 352px #FFF , 1415px 1827px #FFF , 537px 1622px #FFF , 647px 783px #FFF , 1528px 1559px #FFF , 1606px 598px #FFF , 49px 453px #FFF , 410px 853px #FFF , 720px 741px #FFF , 305px 1086px #FFF , 1779px 1904px #FFF , 889px 971px #FFF , 1815px 1770px #FFF , 819px 1105px #FFF , 1091px 465px #FFF , 1364px 444px #FFF , 1679px 1378px #FFF , 9px 832px #FFF , 1082px 516px #FFF , 857px 98px #FFF , 1271px 1933px #FFF , 608px 122px #FFF , 37px 42px #FFF , 1496px 1754px #FFF , 962px 1436px #FFF , 1323px 706px #FFF , 974px 1039px #FFF , 996px 725px #FFF , 331px 39px #FFF , 1674px 1169px #FFF , 1005px 371px #FFF , 853px 346px #FFF , 1350px 222px #FFF , 1536px 218px #FFF , 1890px 1981px #FFF , 1263px 820px #FFF , 213px 384px #FFF , 508px 1392px #FFF , 281px 969px #FFF , 22px 691px #FFF , 1491px 1225px #FFF , 569px 841px #FFF , 571px 1064px #FFF , 1612px 1472px #FFF , 203px 1568px #FFF , 1452px 183px #FFF , 314px 1121px #FFF , 1381px 242px #FFF , 1459px 902px #FFF , 820px 285px #FFF , 400px 960px #FFF , 1277px 881px #FFF , 674px 154px #FFF , 123px 296px #FFF , 976px 183px #FFF , 1786px 75px #FFF , 1188px 1575px #FFF , 988px 645px #FFF , 1038px 132px #FFF , 186px 1350px #FFF , 1976px 1116px #FFF , 282px 1883px #FFF , 143px 650px #FFF , 727px 1155px #FFF , 606px 278px #FFF , 1970px 477px #FFF , 256px 364px #FFF , 1260px 933px #FFF , 111px 287px #FFF , 281px 1653px #FFF , 381px 904px #FFF , 1044px 1811px #FFF , 174px 862px #FFF , 1532px 94px #FFF , 660px 1937px #FFF , 1403px 1747px #FFF , 245px 66px #FFF , 246px 1942px #FFF , 1302px 837px #FFF , 1145px 1407px #FFF , 285px 1883px #FFF , 78px 262px #FFF , 1506px 236px #FFF , 968px 859px #FFF , 1255px 836px #FFF , 1541px 864px #FFF , 1948px 66px #FFF , 595px 845px #FFF , 176px 1149px #FFF , 624px 1800px #FFF , 1922px 1969px #FFF , 859px 1879px #FFF , 1619px 1463px #FFF , 416px 1237px #FFF , 1908px 43px #FFF , 1766px 1434px #FFF , 434px 924px #FFF , 766px 718px #FFF , 372px 248px #FFF , 1811px 1120px #FFF , 1748px 1063px #FFF , 1058px 1677px #FFF , 1659px 587px #FFF , 555px 1186px #FFF , 1062px 333px #FFF , 1315px 312px #FFF , 105px 565px #FFF , 627px 84px #FFF , 106px 395px #FFF , 276px 1517px #FFF , 62px 496px #FFF , 878px 927px #FFF , 1324px 274px #FFF , 746px 436px #FFF , 638px 68px #FFF , 1449px 589px #FFF , 949px 535px #FFF , 958px 1633px #FFF , 627px 704px #FFF , 817px 1872px #FFF , 58px 1976px #FFF , 1350px 474px #FFF , 325px 153px #FFF , 681px 1947px #FFF , 718px 1174px #FFF , 796px 491px #FFF , 1465px 1885px #FFF , 1015px 1791px #FFF , 443px 571px #FFF , 902px 354px #FFF , 1006px 1915px #FFF , 814px 1836px #FFF , 1390px 1058px #FFF , 402px 1690px #FFF , 829px 893px #FFF , 969px 995px #FFF , 1744px 647px #FFF , 278px 453px #FFF , 49px 1470px #FFF , 1549px 561px #FFF , 1988px 1288px #FFF , 908px 311px #FFF , 1825px 83px #FFF , 1303px 1923px #FFF , 477px 1008px #FFF , 1298px 1053px #FFF , 705px 415px #FFF , 718px 730px #FFF , 1724px 1407px #FFF , 88px 104px #FFF , 1787px 469px #FFF , 817px 1089px #FFF , 1544px 311px #FFF , 1492px 388px #FFF , 1960px 1317px #FFF , 541px 706px #FFF , 1035px 262px #FFF , 206px 1713px #FFF , 1225px 427px #FFF , 979px 874px #FFF , 1084px 1698px #FFF , 1103px 142px #FFF , 107px 1995px #FFF , 419px 1887px #FFF , 1032px 1307px #FFF , 1905px 561px #FFF , 1330px 764px #FFF , 1951px 1638px #FFF , 518px 938px #FFF , 992px 500px #FFF , 851px 69px #FFF , 861px 1327px #FFF , 684px 1851px #FFF , 810px 1880px #FFF , 1775px 770px #FFF , 1130px 1246px #FFF , 1371px 1319px #FFF , 621px 827px #FFF , 1814px 713px #FFF , 1985px 594px #FFF , 789px 311px #FFF , 216px 1029px #FFF , 1034px 955px #FFF , 1390px 551px #FFF , 1560px 1788px #FFF , 1439px 1394px #FFF , 1462px 361px #FFF , 1213px 373px #FFF , 1586px 88px #FFF , 368px 130px #FFF , 337px 1198px #FFF , 60px 579px #FFF , 39px 1327px #FFF , 1023px 1679px #FFF , 519px 382px #FFF , 1774px 229px #FFF , 1777px 1856px #FFF , 611px 1977px #FFF , 434px 1665px #FFF , 653px 11px #FFF , 1398px 668px #FFF , 1466px 408px #FFF , 751px 1883px #FFF , 1050px 618px #FFF , 578px 1538px #FFF , 1903px 1146px #FFF , 673px 543px #FFF , 448px 587px #FFF , 1951px 238px #FFF , 1387px 846px #FFF , 1861px 96px #FFF , 1777px 1052px #FFF , 1917px 1773px #FFF , 213px 1385px #FFF , 252px 347px #FFF , 1406px 1120px #FFF , 77px 551px #FFF , 556px 809px #FFF , 90px 1604px #FFF , 76px 1686px #FFF , 1289px 939px #FFF , 435px 530px #FFF , 1581px 1208px #FFF , 380px 461px #FFF , 1213px 469px #FFF , 723px 1610px #FFF , 1584px 1523px #FFF , 1781px 69px #FFF , 1692px 1428px #FFF , 766px 1718px #FFF , 220px 1423px #FFF , 522px 33px #FFF , 900px 1817px #FFF , 268px 1493px #FFF , 273px 1639px #FFF , 1405px 482px #FFF , 250px 1329px #FFF , 1480px 123px #FFF , 106px 1152px #FFF , 1820px 1014px #FFF , 525px 8px #FFF , 491px 1169px #FFF , 135px 1379px #FFF , 692px 1714px #FFF , 1547px 252px #FFF , 1633px 399px #FFF , 786px 1898px #FFF , 1138px 264px #FFF , 1593px 1015px #FFF , 1px 1155px #FFF , 661px 1710px #FFF , 400px 1434px #FFF , 1335px 691px #FFF , 1647px 1588px #FFF , 1485px 1796px #FFF , 1409px 846px #FFF , 892px 1339px #FFF , 118px 150px #FFF , 454px 1555px #FFF , 653px 1996px #FFF , 386px 1361px #FFF , 368px 715px #FFF , 176px 1107px #FFF , 1419px 294px #FFF , 1306px 477px #FFF , 645px 355px #FFF , 464px 1747px #FFF , 1133px 1244px #FFF , 1870px 1743px #FFF , 834px 39px #FFF , 1711px 1433px #FFF , 402px 1974px #FFF , 946px 191px #FFF , 1134px 433px #FFF , 1607px 1818px #FFF , 1704px 567px #FFF , 1132px 866px #FFF , 1228px 334px #FFF , 1241px 89px #FFF , 116px 1561px #FFF , 1144px 1413px #FFF , 655px 336px #FFF , 1929px 5px #FFF , 1496px 1504px #FFF , 1045px 90px #FFF , 392px 1603px #FFF , 440px 1169px #FFF , 1173px 909px #FFF , 1208px 22px #FFF , 919px 1825px #FFF , 67px 1739px #FFF , 302px 1911px #FFF , 617px 1748px #FFF , 945px 121px #FFF , 1128px 132px #FFF , 757px 1117px #FFF , 1428px 1643px #FFF , 260px 1059px #FFF , 1251px 1007px #FFF , 1440px 1834px #FFF , 53px 1329px #FFF , 848px 574px #FFF , 447px 1352px #FFF , 792px 264px #FFF , 516px 1874px #FFF , 242px 942px #FFF , 186px 1990px #FFF , 1018px 314px #FFF , 423px 164px #FFF , 1956px 407px #FFF , 953px 1469px #FFF , 1836px 673px #FFF , 1808px 57px #FFF , 1004px 1662px #FFF , 672px 657px #FFF , 1566px 1340px #FFF , 493px 118px #FFF , 1008px 946px #FFF , 615px 1148px #FFF , 334px 1262px #FFF , 1161px 928px #FFF , 962px 1720px #FFF , 574px 1829px #FFF , 1989px 25px #FFF , 385px 662px #FFF , 1134px 1012px #FFF , 898px 1600px #FFF , 966px 1197px #FFF , 1711px 1323px #FFF , 1806px 1702px #FFF , 1104px 4px #FFF , 25px 1392px #FFF , 904px 1184px #FFF , 977px 1469px #FFF , 1453px 438px #FFF , 301px 1609px #FFF , 524px 1278px #FFF , 1050px 612px #FFF , 1242px 1688px #FFF , 66px 192px #FFF , 163px 995px #FFF , 591px 602px #FFF , 976px 296px #FFF , 404px 1377px #FFF , 226px 1265px #FFF , 844px 971px #FFF , 1304px 1319px #FFF , 1163px 1763px #FFF , 1170px 1693px #FFF , 1786px 642px #FFF , 829px 1621px #FFF , 440px 1812px #FFF , 1243px 1519px #FFF , 941px 1626px #FFF , 46px 432px #FFF , 226px 1534px #FFF , 298px 985px #FFF , 495px 380px #FFF , 1372px 1890px #FFF , 1166px 867px #FFF , 746px 1399px #FFF , 187px 1742px #FFF , 1305px 1084px #FFF , 1104px 130px #FFF , 1066px 1025px #FFF , 144px 137px #FFF , 1635px 61px #FFF , 349px 258px #FFF , 712px 1176px #FFF , 1329px 1798px #FFF , 145px 493px #FFF , 1204px 270px #FFF , 14px 25px #FFF , 67px 293px #FFF , 202px 518px #FFF , 1716px 1776px #FFF , 717px 618px #FFF , 370px 1843px #FFF , 536px 987px #FFF , 923px 677px #FFF , 9px 1929px #FFF , 540px 1707px #FFF , 747px 1420px #FFF , 81px 1582px #FFF , 223px 1570px #FFF , 156px 1071px #FFF , 347px 1030px #FFF , 309px 334px #FFF , 209px 1069px #FFF , 774px 1897px #FFF , 1681px 680px #FFF , 512px 637px #FFF , 859px 1941px #FFF , 659px 845px #FFF , 1782px 1018px #FFF , 1741px 648px #FFF , 1279px 1469px #FFF , 672px 722px #FFF , 418px 1093px #FFF , 930px 339px #FFF , 495px 1946px #FFF , 1497px 167px #FFF , 192px 1419px #FFF , 1619px 564px #FFF , 1728px 1605px #FFF , 1600px 801px #FFF , 1506px 1361px #FFF , 482px 1761px #FFF , 901px 1834px #FFF , 1049px 1340px #FFF , 1637px 427px #FFF , 1112px 1508px #FFF , 555px 910px #FFF , 326px 1522px #FFF , 609px 595px #FFF , 965px 1969px #FFF , 124px 312px #FFF , 1674px 1824px #FFF , 913px 753px #FFF , 1442px 655px #FFF , 345px 646px #FFF , 1829px 1832px #FFF , 1390px 684px #FFF , 606px 43px #FFF , 1417px 1107px #FFF , 1057px 1601px #FFF , 1726px 826px #FFF , 537px 642px #FFF , 1034px 62px #FFF , 1321px 1066px #FFF , 1595px 308px #FFF , 1596px 1607px #FFF , 846px 813px #FFF , 126px 756px #FFF , 19px 44px #FFF , 98px 1557px #FFF , 158px 598px #FFF , 1339px 1735px #FFF , 179px 1050px #FFF , 1141px 1903px #FFF , 1110px 712px #FFF , 1760px 353px #FFF , 1236px 1886px #FFF , 703px 1743px #FFF , 390px 614px #FFF , 1414px 936px #FFF , 1196px 612px #FFF , 964px 72px #FFF , 1777px 1777px #FFF , 1415px 176px #FFF , 1010px 703px #FFF , 1658px 1208px #FFF , 1042px 1534px #FFF , 1160px 1609px #FFF , 972px 42px #FFF , 1450px 895px #FFF , 134px 1589px #FFF , 1110px 667px #FFF , 189px 931px #FFF , 141px 735px #FFF , 240px 1961px #FFF , 1434px 1323px #FFF , 226px 208px #FFF , 727px 787px #FFF , 1619px 1262px #FFF , 229px 423px #FFF , 92px 1311px #FFF , 147px 435px #FFF , 1892px 1883px #FFF , 1557px 657px #FFF , 35px 1590px #FFF , 1266px 842px #FFF , 574px 633px #FFF , 1554px 5px #FFF , 1731px 1999px #FFF , 22px 551px #FFF , 1533px 1725px #FFF , 864px 598px #FFF , 1235px 1851px #FFF , 1277px 1229px #FFF , 371px 233px #FFF , 1385px 1999px #FFF , 1548px 1937px #FFF , 311px 87px #FFF , 1303px 1144px #FFF , 560px 1727px #FFF , 1358px 1178px #FFF , 976px 812px #FFF , 656px 277px #FFF , 1201px 850px #FFF , 142px 984px #FFF , 1098px 1912px #FFF , 46px 697px #FFF , 1981px 596px #FFF , 1034px 926px #FFF , 615px 50px #FFF , 114px 564px #FFF , 1584px 129px #FFF , 1066px 1371px #FFF , 1245px 423px #FFF , 1400px 446px #FFF , 529px 1400px #FFF , 656px 1667px #FFF , 1159px 384px #FFF , 937px 1669px #FFF , 1564px 1660px #FFF , 1071px 955px #FFF , 351px 318px #FFF , 492px 867px #FFF , 315px 1083px #FFF , 482px 289px #FFF , 218px 1838px #FFF , 1134px 293px #FFF , 1379px 1877px #FFF , 416px 491px #FFF , 767px 370px #FFF , 539px 1408px #FFF , 697px 257px #FFF , 759px 1007px #FFF , 108px 1229px #FFF , 1678px 673px #FFF , 1749px 430px #FFF , 927px 1193px #FFF , 1393px 590px #FFF , 1226px 837px #FFF , 1918px 1328px #FFF , 1854px 1905px #FFF , 725px 1714px #FFF , 106px 1423px #FFF , 413px 522px #FFF , 87px 359px #FFF , 223px 452px #FFF , 1409px 1134px #FFF , 1168px 1111px #FFF , 945px 22px #FFF , 1346px 351px #FFF , 164px 1316px #FFF , 1835px 1643px #FFF , 1174px 1639px #FFF , 75px 1481px #FFF , 703px 1160px #FFF , 499px 277px #FFF , 1112px 125px #FFF , 1176px 1206px #FFF , 777px 1144px #FFF , 1538px 1089px #FFF , 968px 1105px #FFF , 1687px 575px #FFF , 1483px 1382px #FFF , 1391px 625px #FFF , 740px 516px #FFF , 1252px 1636px #FFF , 199px 674px #FFF , 1345px 549px #FFF , 1723px 1146px #FFF , 729px 1082px #FFF , 53px 275px #FFF , 124px 140px #FFF , 1423px 1041px #FFF , 633px 1115px #FFF , 1813px 536px #FFF , 991px 1504px #FFF , 1883px 806px #FFF , 1902px 1504px #FFF , 340px 681px #FFF , 1387px 325px #FFF , 566px 634px #FFF , 942px 135px #FFF , 260px 313px #FFF , 1852px 1010px #FFF , 1403px 808px #FFF , 495px 861px #FFF , 1367px 1484px #FFF , 690px 716px #FFF , 1298px 187px #FFF , 6px 1624px #FFF , 888px 1900px #FFF , 1420px 1072px #FFF , 612px 1526px #FFF , 204px 464px #FFF , 843px 79px #FFF , 581px 80px #FFF , 1793px 198px #FFF , 302px 342px #FFF , 1639px 656px #FFF , 1054px 1282px #FFF , 1213px 465px #FFF , 1850px 1214px #FFF , 517px 1150px #FFF , 1535px 34px #FFF , 57px 1866px #FFF , 820px 10px #FFF , 828px 313px #FFF , 828px 1267px #FFF , 542px 938px #FFF , 134px 1879px #FFF , 1758px 352px #FFF , 656px 18px #FFF , 1136px 1040px #FFF , 1696px 310px #FFF , 916px 1455px #FFF , 1587px 1520px #FFF , 669px 47px #FFF , 1016px 1754px #FFF , 1173px 1520px #FFF , 449px 773px #FFF , 1365px 1789px #FFF , 832px 708px #FFF , 1135px 1727px #FFF , 444px 162px #FFF , 1006px 174px #FFF , 272px 762px #FFF , 1662px 421px #FFF , 1798px 1745px #FFF , 460px 515px #FFF , 983px 1555px #FFF , 358px 1811px #FFF , 365px 883px #FFF , 1122px 1856px #FFF , 538px 687px #FFF , 1409px 921px #FFF , 1155px 398px #FFF , 760px 972px #FFF , 312px 1489px #FFF , 482px 915px #FFF , 941px 662px #FFF , 39px 148px #FFF , 446px 1643px #FFF , 1848px 1013px #FFF , 1021px 158px #FFF , 192px 1221px #FFF , 378px 1341px #FFF , 1391px 1153px #FFF , 1614px 1442px #FFF , 1495px 793px #FFF , 3px 75px #FFF , 726px 1007px #FFF , 38px 1413px #FFF , 840px 1749px #FFF , 97px 1337px #FFF , 1843px 1721px #FFF , 363px 1578px #FFF , 1129px 537px #FFF , 114px 208px #FFF , 1746px 208px #FFF , 1061px 1751px #FFF , 1509px 1099px #FFF , 1860px 1365px #FFF , 404px 1107px #FFF , 1514px 615px #FFF , 1098px 1066px #FFF , 1187px 702px #FFF , 1229px 1461px #FFF , 931px 28px #FFF , 451px 1311px #FFF , 1352px 414px #FFF , 1987px 1160px #FFF , 1989px 724px #FFF , 1233px 1130px #FFF , 753px 389px #FFF , 1316px 737px #FFF , 404px 1115px #FFF , 1081px 1923px #FFF , 624px 1551px #FFF , 258px 480px #FFF , 1540px 614px #FFF , 349px 1006px #FFF , 680px 1894px #FFF , 515px 1854px #FFF , 741px 1399px #FFF , 1569px 389px #FFF , 843px 2px #FFF , 1528px 1216px #FFF , 950px 646px #FFF , 37px 112px #FFF , 1355px 1235px #FFF , 1149px 1665px #FFF , 1935px 1416px #FFF , 33px 476px #FFF , 1673px 514px #FFF , 254px 469px #FFF , 1973px 786px #FFF , 470px 1810px #FFF , 436px 1260px #FFF , 1993px 193px #FFF , 1381px 407px #FFF , 1955px 1743px #FFF , 1513px 74px #FFF , 873px 1563px #FFF;
  animation: animStar 100s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1551px 1358px #FFF , 1631px 1199px #FFF , 824px 1409px #FFF , 1444px 982px #FFF , 763px 223px #FFF , 198px 1796px #FFF , 722px 1547px #FFF , 1595px 1662px #FFF , 98px 10px #FFF , 1556px 570px #FFF , 1962px 839px #FFF , 994px 352px #FFF , 1415px 1827px #FFF , 537px 1622px #FFF , 647px 783px #FFF , 1528px 1559px #FFF , 1606px 598px #FFF , 49px 453px #FFF , 410px 853px #FFF , 720px 741px #FFF , 305px 1086px #FFF , 1779px 1904px #FFF , 889px 971px #FFF , 1815px 1770px #FFF , 819px 1105px #FFF , 1091px 465px #FFF , 1364px 444px #FFF , 1679px 1378px #FFF , 9px 832px #FFF , 1082px 516px #FFF , 857px 98px #FFF , 1271px 1933px #FFF , 608px 122px #FFF , 37px 42px #FFF , 1496px 1754px #FFF , 962px 1436px #FFF , 1323px 706px #FFF , 974px 1039px #FFF , 996px 725px #FFF , 331px 39px #FFF , 1674px 1169px #FFF , 1005px 371px #FFF , 853px 346px #FFF , 1350px 222px #FFF , 1536px 218px #FFF , 1890px 1981px #FFF , 1263px 820px #FFF , 213px 384px #FFF , 508px 1392px #FFF , 281px 969px #FFF , 22px 691px #FFF , 1491px 1225px #FFF , 569px 841px #FFF , 571px 1064px #FFF , 1612px 1472px #FFF , 203px 1568px #FFF , 1452px 183px #FFF , 314px 1121px #FFF , 1381px 242px #FFF , 1459px 902px #FFF , 820px 285px #FFF , 400px 960px #FFF , 1277px 881px #FFF , 674px 154px #FFF , 123px 296px #FFF , 976px 183px #FFF , 1786px 75px #FFF , 1188px 1575px #FFF , 988px 645px #FFF , 1038px 132px #FFF , 186px 1350px #FFF , 1976px 1116px #FFF , 282px 1883px #FFF , 143px 650px #FFF , 727px 1155px #FFF , 606px 278px #FFF , 1970px 477px #FFF , 256px 364px #FFF , 1260px 933px #FFF , 111px 287px #FFF , 281px 1653px #FFF , 381px 904px #FFF , 1044px 1811px #FFF , 174px 862px #FFF , 1532px 94px #FFF , 660px 1937px #FFF , 1403px 1747px #FFF , 245px 66px #FFF , 246px 1942px #FFF , 1302px 837px #FFF , 1145px 1407px #FFF , 285px 1883px #FFF , 78px 262px #FFF , 1506px 236px #FFF , 968px 859px #FFF , 1255px 836px #FFF , 1541px 864px #FFF , 1948px 66px #FFF , 595px 845px #FFF , 176px 1149px #FFF , 624px 1800px #FFF , 1922px 1969px #FFF , 859px 1879px #FFF , 1619px 1463px #FFF , 416px 1237px #FFF , 1908px 43px #FFF , 1766px 1434px #FFF , 434px 924px #FFF , 766px 718px #FFF , 372px 248px #FFF , 1811px 1120px #FFF , 1748px 1063px #FFF , 1058px 1677px #FFF , 1659px 587px #FFF , 555px 1186px #FFF , 1062px 333px #FFF , 1315px 312px #FFF , 105px 565px #FFF , 627px 84px #FFF , 106px 395px #FFF , 276px 1517px #FFF , 62px 496px #FFF , 878px 927px #FFF , 1324px 274px #FFF , 746px 436px #FFF , 638px 68px #FFF , 1449px 589px #FFF , 949px 535px #FFF , 958px 1633px #FFF , 627px 704px #FFF , 817px 1872px #FFF , 58px 1976px #FFF , 1350px 474px #FFF , 325px 153px #FFF , 681px 1947px #FFF , 718px 1174px #FFF , 796px 491px #FFF , 1465px 1885px #FFF , 1015px 1791px #FFF , 443px 571px #FFF , 902px 354px #FFF , 1006px 1915px #FFF , 814px 1836px #FFF , 1390px 1058px #FFF , 402px 1690px #FFF , 829px 893px #FFF , 969px 995px #FFF , 1744px 647px #FFF , 278px 453px #FFF , 49px 1470px #FFF , 1549px 561px #FFF , 1988px 1288px #FFF , 908px 311px #FFF , 1825px 83px #FFF , 1303px 1923px #FFF , 477px 1008px #FFF , 1298px 1053px #FFF , 705px 415px #FFF , 718px 730px #FFF , 1724px 1407px #FFF , 88px 104px #FFF , 1787px 469px #FFF , 817px 1089px #FFF , 1544px 311px #FFF , 1492px 388px #FFF , 1960px 1317px #FFF , 541px 706px #FFF , 1035px 262px #FFF , 206px 1713px #FFF , 1225px 427px #FFF , 979px 874px #FFF , 1084px 1698px #FFF , 1103px 142px #FFF , 107px 1995px #FFF , 419px 1887px #FFF , 1032px 1307px #FFF , 1905px 561px #FFF , 1330px 764px #FFF , 1951px 1638px #FFF , 518px 938px #FFF , 992px 500px #FFF , 851px 69px #FFF , 861px 1327px #FFF , 684px 1851px #FFF , 810px 1880px #FFF , 1775px 770px #FFF , 1130px 1246px #FFF , 1371px 1319px #FFF , 621px 827px #FFF , 1814px 713px #FFF , 1985px 594px #FFF , 789px 311px #FFF , 216px 1029px #FFF , 1034px 955px #FFF , 1390px 551px #FFF , 1560px 1788px #FFF , 1439px 1394px #FFF , 1462px 361px #FFF , 1213px 373px #FFF , 1586px 88px #FFF , 368px 130px #FFF , 337px 1198px #FFF , 60px 579px #FFF , 39px 1327px #FFF , 1023px 1679px #FFF , 519px 382px #FFF , 1774px 229px #FFF , 1777px 1856px #FFF , 611px 1977px #FFF , 434px 1665px #FFF , 653px 11px #FFF , 1398px 668px #FFF , 1466px 408px #FFF , 751px 1883px #FFF , 1050px 618px #FFF , 578px 1538px #FFF , 1903px 1146px #FFF , 673px 543px #FFF , 448px 587px #FFF , 1951px 238px #FFF , 1387px 846px #FFF , 1861px 96px #FFF , 1777px 1052px #FFF , 1917px 1773px #FFF , 213px 1385px #FFF , 252px 347px #FFF , 1406px 1120px #FFF , 77px 551px #FFF , 556px 809px #FFF , 90px 1604px #FFF , 76px 1686px #FFF , 1289px 939px #FFF , 435px 530px #FFF , 1581px 1208px #FFF , 380px 461px #FFF , 1213px 469px #FFF , 723px 1610px #FFF , 1584px 1523px #FFF , 1781px 69px #FFF , 1692px 1428px #FFF , 766px 1718px #FFF , 220px 1423px #FFF , 522px 33px #FFF , 900px 1817px #FFF , 268px 1493px #FFF , 273px 1639px #FFF , 1405px 482px #FFF , 250px 1329px #FFF , 1480px 123px #FFF , 106px 1152px #FFF , 1820px 1014px #FFF , 525px 8px #FFF , 491px 1169px #FFF , 135px 1379px #FFF , 692px 1714px #FFF , 1547px 252px #FFF , 1633px 399px #FFF , 786px 1898px #FFF , 1138px 264px #FFF , 1593px 1015px #FFF , 1px 1155px #FFF , 661px 1710px #FFF , 400px 1434px #FFF , 1335px 691px #FFF , 1647px 1588px #FFF , 1485px 1796px #FFF , 1409px 846px #FFF , 892px 1339px #FFF , 118px 150px #FFF , 454px 1555px #FFF , 653px 1996px #FFF , 386px 1361px #FFF , 368px 715px #FFF , 176px 1107px #FFF , 1419px 294px #FFF , 1306px 477px #FFF , 645px 355px #FFF , 464px 1747px #FFF , 1133px 1244px #FFF , 1870px 1743px #FFF , 834px 39px #FFF , 1711px 1433px #FFF , 402px 1974px #FFF , 946px 191px #FFF , 1134px 433px #FFF , 1607px 1818px #FFF , 1704px 567px #FFF , 1132px 866px #FFF , 1228px 334px #FFF , 1241px 89px #FFF , 116px 1561px #FFF , 1144px 1413px #FFF , 655px 336px #FFF , 1929px 5px #FFF , 1496px 1504px #FFF , 1045px 90px #FFF , 392px 1603px #FFF , 440px 1169px #FFF , 1173px 909px #FFF , 1208px 22px #FFF , 919px 1825px #FFF , 67px 1739px #FFF , 302px 1911px #FFF , 617px 1748px #FFF , 945px 121px #FFF , 1128px 132px #FFF , 757px 1117px #FFF , 1428px 1643px #FFF , 260px 1059px #FFF , 1251px 1007px #FFF , 1440px 1834px #FFF , 53px 1329px #FFF , 848px 574px #FFF , 447px 1352px #FFF , 792px 264px #FFF , 516px 1874px #FFF , 242px 942px #FFF , 186px 1990px #FFF , 1018px 314px #FFF , 423px 164px #FFF , 1956px 407px #FFF , 953px 1469px #FFF , 1836px 673px #FFF , 1808px 57px #FFF , 1004px 1662px #FFF , 672px 657px #FFF , 1566px 1340px #FFF , 493px 118px #FFF , 1008px 946px #FFF , 615px 1148px #FFF , 334px 1262px #FFF , 1161px 928px #FFF , 962px 1720px #FFF , 574px 1829px #FFF , 1989px 25px #FFF , 385px 662px #FFF , 1134px 1012px #FFF , 898px 1600px #FFF , 966px 1197px #FFF , 1711px 1323px #FFF , 1806px 1702px #FFF , 1104px 4px #FFF , 25px 1392px #FFF , 904px 1184px #FFF , 977px 1469px #FFF , 1453px 438px #FFF , 301px 1609px #FFF , 524px 1278px #FFF , 1050px 612px #FFF , 1242px 1688px #FFF , 66px 192px #FFF , 163px 995px #FFF , 591px 602px #FFF , 976px 296px #FFF , 404px 1377px #FFF , 226px 1265px #FFF , 844px 971px #FFF , 1304px 1319px #FFF , 1163px 1763px #FFF , 1170px 1693px #FFF , 1786px 642px #FFF , 829px 1621px #FFF , 440px 1812px #FFF , 1243px 1519px #FFF , 941px 1626px #FFF , 46px 432px #FFF , 226px 1534px #FFF , 298px 985px #FFF , 495px 380px #FFF , 1372px 1890px #FFF , 1166px 867px #FFF , 746px 1399px #FFF , 187px 1742px #FFF , 1305px 1084px #FFF , 1104px 130px #FFF , 1066px 1025px #FFF , 144px 137px #FFF , 1635px 61px #FFF , 349px 258px #FFF , 712px 1176px #FFF , 1329px 1798px #FFF , 145px 493px #FFF , 1204px 270px #FFF , 14px 25px #FFF , 67px 293px #FFF , 202px 518px #FFF , 1716px 1776px #FFF , 717px 618px #FFF , 370px 1843px #FFF , 536px 987px #FFF , 923px 677px #FFF , 9px 1929px #FFF , 540px 1707px #FFF , 747px 1420px #FFF , 81px 1582px #FFF , 223px 1570px #FFF , 156px 1071px #FFF , 347px 1030px #FFF , 309px 334px #FFF , 209px 1069px #FFF , 774px 1897px #FFF , 1681px 680px #FFF , 512px 637px #FFF , 859px 1941px #FFF , 659px 845px #FFF , 1782px 1018px #FFF , 1741px 648px #FFF , 1279px 1469px #FFF , 672px 722px #FFF , 418px 1093px #FFF , 930px 339px #FFF , 495px 1946px #FFF , 1497px 167px #FFF , 192px 1419px #FFF , 1619px 564px #FFF , 1728px 1605px #FFF , 1600px 801px #FFF , 1506px 1361px #FFF , 482px 1761px #FFF , 901px 1834px #FFF , 1049px 1340px #FFF , 1637px 427px #FFF , 1112px 1508px #FFF , 555px 910px #FFF , 326px 1522px #FFF , 609px 595px #FFF , 965px 1969px #FFF , 124px 312px #FFF , 1674px 1824px #FFF , 913px 753px #FFF , 1442px 655px #FFF , 345px 646px #FFF , 1829px 1832px #FFF , 1390px 684px #FFF , 606px 43px #FFF , 1417px 1107px #FFF , 1057px 1601px #FFF , 1726px 826px #FFF , 537px 642px #FFF , 1034px 62px #FFF , 1321px 1066px #FFF , 1595px 308px #FFF , 1596px 1607px #FFF , 846px 813px #FFF , 126px 756px #FFF , 19px 44px #FFF , 98px 1557px #FFF , 158px 598px #FFF , 1339px 1735px #FFF , 179px 1050px #FFF , 1141px 1903px #FFF , 1110px 712px #FFF , 1760px 353px #FFF , 1236px 1886px #FFF , 703px 1743px #FFF , 390px 614px #FFF , 1414px 936px #FFF , 1196px 612px #FFF , 964px 72px #FFF , 1777px 1777px #FFF , 1415px 176px #FFF , 1010px 703px #FFF , 1658px 1208px #FFF , 1042px 1534px #FFF , 1160px 1609px #FFF , 972px 42px #FFF , 1450px 895px #FFF , 134px 1589px #FFF , 1110px 667px #FFF , 189px 931px #FFF , 141px 735px #FFF , 240px 1961px #FFF , 1434px 1323px #FFF , 226px 208px #FFF , 727px 787px #FFF , 1619px 1262px #FFF , 229px 423px #FFF , 92px 1311px #FFF , 147px 435px #FFF , 1892px 1883px #FFF , 1557px 657px #FFF , 35px 1590px #FFF , 1266px 842px #FFF , 574px 633px #FFF , 1554px 5px #FFF , 1731px 1999px #FFF , 22px 551px #FFF , 1533px 1725px #FFF , 864px 598px #FFF , 1235px 1851px #FFF , 1277px 1229px #FFF , 371px 233px #FFF , 1385px 1999px #FFF , 1548px 1937px #FFF , 311px 87px #FFF , 1303px 1144px #FFF , 560px 1727px #FFF , 1358px 1178px #FFF , 976px 812px #FFF , 656px 277px #FFF , 1201px 850px #FFF , 142px 984px #FFF , 1098px 1912px #FFF , 46px 697px #FFF , 1981px 596px #FFF , 1034px 926px #FFF , 615px 50px #FFF , 114px 564px #FFF , 1584px 129px #FFF , 1066px 1371px #FFF , 1245px 423px #FFF , 1400px 446px #FFF , 529px 1400px #FFF , 656px 1667px #FFF , 1159px 384px #FFF , 937px 1669px #FFF , 1564px 1660px #FFF , 1071px 955px #FFF , 351px 318px #FFF , 492px 867px #FFF , 315px 1083px #FFF , 482px 289px #FFF , 218px 1838px #FFF , 1134px 293px #FFF , 1379px 1877px #FFF , 416px 491px #FFF , 767px 370px #FFF , 539px 1408px #FFF , 697px 257px #FFF , 759px 1007px #FFF , 108px 1229px #FFF , 1678px 673px #FFF , 1749px 430px #FFF , 927px 1193px #FFF , 1393px 590px #FFF , 1226px 837px #FFF , 1918px 1328px #FFF , 1854px 1905px #FFF , 725px 1714px #FFF , 106px 1423px #FFF , 413px 522px #FFF , 87px 359px #FFF , 223px 452px #FFF , 1409px 1134px #FFF , 1168px 1111px #FFF , 945px 22px #FFF , 1346px 351px #FFF , 164px 1316px #FFF , 1835px 1643px #FFF , 1174px 1639px #FFF , 75px 1481px #FFF , 703px 1160px #FFF , 499px 277px #FFF , 1112px 125px #FFF , 1176px 1206px #FFF , 777px 1144px #FFF , 1538px 1089px #FFF , 968px 1105px #FFF , 1687px 575px #FFF , 1483px 1382px #FFF , 1391px 625px #FFF , 740px 516px #FFF , 1252px 1636px #FFF , 199px 674px #FFF , 1345px 549px #FFF , 1723px 1146px #FFF , 729px 1082px #FFF , 53px 275px #FFF , 124px 140px #FFF , 1423px 1041px #FFF , 633px 1115px #FFF , 1813px 536px #FFF , 991px 1504px #FFF , 1883px 806px #FFF , 1902px 1504px #FFF , 340px 681px #FFF , 1387px 325px #FFF , 566px 634px #FFF , 942px 135px #FFF , 260px 313px #FFF , 1852px 1010px #FFF , 1403px 808px #FFF , 495px 861px #FFF , 1367px 1484px #FFF , 690px 716px #FFF , 1298px 187px #FFF , 6px 1624px #FFF , 888px 1900px #FFF , 1420px 1072px #FFF , 612px 1526px #FFF , 204px 464px #FFF , 843px 79px #FFF , 581px 80px #FFF , 1793px 198px #FFF , 302px 342px #FFF , 1639px 656px #FFF , 1054px 1282px #FFF , 1213px 465px #FFF , 1850px 1214px #FFF , 517px 1150px #FFF , 1535px 34px #FFF , 57px 1866px #FFF , 820px 10px #FFF , 828px 313px #FFF , 828px 1267px #FFF , 542px 938px #FFF , 134px 1879px #FFF , 1758px 352px #FFF , 656px 18px #FFF , 1136px 1040px #FFF , 1696px 310px #FFF , 916px 1455px #FFF , 1587px 1520px #FFF , 669px 47px #FFF , 1016px 1754px #FFF , 1173px 1520px #FFF , 449px 773px #FFF , 1365px 1789px #FFF , 832px 708px #FFF , 1135px 1727px #FFF , 444px 162px #FFF , 1006px 174px #FFF , 272px 762px #FFF , 1662px 421px #FFF , 1798px 1745px #FFF , 460px 515px #FFF , 983px 1555px #FFF , 358px 1811px #FFF , 365px 883px #FFF , 1122px 1856px #FFF , 538px 687px #FFF , 1409px 921px #FFF , 1155px 398px #FFF , 760px 972px #FFF , 312px 1489px #FFF , 482px 915px #FFF , 941px 662px #FFF , 39px 148px #FFF , 446px 1643px #FFF , 1848px 1013px #FFF , 1021px 158px #FFF , 192px 1221px #FFF , 378px 1341px #FFF , 1391px 1153px #FFF , 1614px 1442px #FFF , 1495px 793px #FFF , 3px 75px #FFF , 726px 1007px #FFF , 38px 1413px #FFF , 840px 1749px #FFF , 97px 1337px #FFF , 1843px 1721px #FFF , 363px 1578px #FFF , 1129px 537px #FFF , 114px 208px #FFF , 1746px 208px #FFF , 1061px 1751px #FFF , 1509px 1099px #FFF , 1860px 1365px #FFF , 404px 1107px #FFF , 1514px 615px #FFF , 1098px 1066px #FFF , 1187px 702px #FFF , 1229px 1461px #FFF , 931px 28px #FFF , 451px 1311px #FFF , 1352px 414px #FFF , 1987px 1160px #FFF , 1989px 724px #FFF , 1233px 1130px #FFF , 753px 389px #FFF , 1316px 737px #FFF , 404px 1115px #FFF , 1081px 1923px #FFF , 624px 1551px #FFF , 258px 480px #FFF , 1540px 614px #FFF , 349px 1006px #FFF , 680px 1894px #FFF , 515px 1854px #FFF , 741px 1399px #FFF , 1569px 389px #FFF , 843px 2px #FFF , 1528px 1216px #FFF , 950px 646px #FFF , 37px 112px #FFF , 1355px 1235px #FFF , 1149px 1665px #FFF , 1935px 1416px #FFF , 33px 476px #FFF , 1673px 514px #FFF , 254px 469px #FFF , 1973px 786px #FFF , 470px 1810px #FFF , 436px 1260px #FFF , 1993px 193px #FFF , 1381px 407px #FFF , 1955px 1743px #FFF , 1513px 74px #FFF , 873px 1563px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1061px 488px #FFF , 483px 222px #FFF , 6px 795px #FFF , 130px 1171px #FFF , 1499px 1871px #FFF , 244px 1471px #FFF , 89px 886px #FFF , 721px 934px #FFF , 205px 1751px #FFF , 329px 197px #FFF , 1489px 1057px #FFF , 1418px 761px #FFF , 1505px 1924px #FFF , 792px 743px #FFF , 108px 163px #FFF , 373px 790px #FFF , 896px 1186px #FFF , 336px 536px #FFF , 1096px 35px #FFF , 238px 1898px #FFF , 1171px 1930px #FFF , 303px 1085px #FFF , 1757px 519px #FFF , 1553px 137px #FFF , 1386px 1542px #FFF , 888px 103px #FFF , 1083px 256px #FFF , 177px 661px #FFF , 809px 854px #FFF , 1886px 1984px #FFF , 1992px 932px #FFF , 1332px 392px #FFF , 1416px 1472px #FFF , 375px 916px #FFF , 405px 1653px #FFF , 850px 132px #FFF , 1287px 1534px #FFF , 898px 1229px #FFF , 1362px 374px #FFF , 1092px 1296px #FFF , 1971px 1345px #FFF , 212px 1101px #FFF , 525px 1170px #FFF , 281px 372px #FFF , 1708px 1821px #FFF , 1962px 1227px #FFF , 1710px 1674px #FFF , 318px 786px #FFF , 654px 1796px #FFF , 1177px 1172px #FFF , 239px 580px #FFF , 1529px 1665px #FFF , 157px 1326px #FFF , 702px 132px #FFF , 6px 1643px #FFF , 1557px 982px #FFF , 1867px 605px #FFF , 1220px 1366px #FFF , 917px 542px #FFF , 1614px 1157px #FFF , 988px 1705px #FFF , 1402px 1592px #FFF , 1846px 631px #FFF , 131px 1063px #FFF , 1508px 1434px #FFF , 1048px 544px #FFF , 583px 1949px #FFF , 895px 1765px #FFF , 673px 1006px #FFF , 1288px 1255px #FFF , 1750px 491px #FFF , 1628px 1874px #FFF , 751px 1362px #FFF , 1709px 946px #FFF , 1294px 577px #FFF , 227px 1651px #FFF , 906px 1965px #FFF , 1709px 2000px #FFF , 1059px 1745px #FFF , 1042px 347px #FFF , 1157px 465px #FFF , 959px 1387px #FFF , 1807px 836px #FFF , 491px 1021px #FFF , 1133px 1216px #FFF , 849px 912px #FFF , 766px 708px #FFF , 1387px 1679px #FFF , 1761px 1835px #FFF , 1260px 1186px #FFF , 225px 1836px #FFF , 1076px 1931px #FFF , 1156px 1225px #FFF , 627px 1922px #FFF , 1436px 722px #FFF , 1870px 528px #FFF , 582px 1706px #FFF , 1397px 1705px #FFF , 581px 143px #FFF , 479px 756px #FFF , 744px 1623px #FFF , 1731px 948px #FFF , 1349px 697px #FFF , 1149px 224px #FFF , 1670px 403px #FFF , 1608px 610px #FFF , 1568px 812px #FFF , 1167px 662px #FFF , 6px 581px #FFF , 1412px 1760px #FFF , 1055px 1783px #FFF , 1833px 238px #FFF , 439px 1278px #FFF , 56px 1792px #FFF , 812px 1618px #FFF , 1032px 1494px #FFF , 1257px 874px #FFF , 537px 858px #FFF , 1085px 431px #FFF , 1025px 409px #FFF , 454px 1927px #FFF , 1852px 1217px #FFF , 511px 1612px #FFF , 1311px 1997px #FFF , 141px 302px #FFF , 1901px 449px #FFF , 1710px 1878px #FFF , 1685px 1637px #FFF , 3px 684px #FFF , 1298px 561px #FFF , 1489px 338px #FFF , 38px 1835px #FFF , 1876px 1727px #FFF , 220px 1828px #FFF , 1269px 375px #FFF , 1719px 28px #FFF , 1108px 1733px #FFF , 1440px 1976px #FFF , 1049px 837px #FFF , 271px 703px #FFF , 1622px 1238px #FFF , 1519px 627px #FFF , 836px 1321px #FFF , 164px 1852px #FFF , 918px 1988px #FFF , 330px 602px #FFF , 1912px 261px #FFF , 1945px 213px #FFF , 1517px 1666px #FFF , 19px 8px #FFF , 1640px 884px #FFF , 1132px 1827px #FFF , 1780px 1310px #FFF , 243px 851px #FFF , 594px 1587px #FFF , 1100px 280px #FFF , 128px 1638px #FFF , 1936px 1845px #FFF , 1568px 1679px #FFF , 1121px 956px #FFF , 348px 1790px #FFF , 952px 1357px #FFF , 1794px 597px #FFF , 771px 689px #FFF , 1301px 1941px #FFF , 288px 1807px #FFF , 670px 1853px #FFF , 1362px 953px #FFF , 888px 1109px #FFF , 1086px 164px #FFF , 1959px 1092px #FFF , 1227px 1089px #FFF , 1057px 639px #FFF , 1927px 734px #FFF , 1123px 1839px #FFF , 1247px 1413px #FFF , 631px 194px #FFF , 1789px 1565px #FFF , 1892px 1551px #FFF , 522px 66px #FFF , 725px 1287px #FFF , 747px 925px #FFF , 1996px 185px #FFF , 213px 513px #FFF , 1453px 220px #FFF , 489px 739px #FFF , 100px 575px #FFF , 1528px 252px #FFF , 1995px 614px #FFF , 38px 1719px #FFF , 1856px 621px #FFF , 1758px 501px #FFF , 970px 1146px #FFF , 1714px 287px #FFF , 1038px 467px #FFF , 1789px 343px #FFF , 1581px 438px #FFF , 1977px 1129px #FFF , 1565px 77px #FFF , 930px 195px #FFF;
  animation: animStar 200s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1061px 488px #FFF , 483px 222px #FFF , 6px 795px #FFF , 130px 1171px #FFF , 1499px 1871px #FFF , 244px 1471px #FFF , 89px 886px #FFF , 721px 934px #FFF , 205px 1751px #FFF , 329px 197px #FFF , 1489px 1057px #FFF , 1418px 761px #FFF , 1505px 1924px #FFF , 792px 743px #FFF , 108px 163px #FFF , 373px 790px #FFF , 896px 1186px #FFF , 336px 536px #FFF , 1096px 35px #FFF , 238px 1898px #FFF , 1171px 1930px #FFF , 303px 1085px #FFF , 1757px 519px #FFF , 1553px 137px #FFF , 1386px 1542px #FFF , 888px 103px #FFF , 1083px 256px #FFF , 177px 661px #FFF , 809px 854px #FFF , 1886px 1984px #FFF , 1992px 932px #FFF , 1332px 392px #FFF , 1416px 1472px #FFF , 375px 916px #FFF , 405px 1653px #FFF , 850px 132px #FFF , 1287px 1534px #FFF , 898px 1229px #FFF , 1362px 374px #FFF , 1092px 1296px #FFF , 1971px 1345px #FFF , 212px 1101px #FFF , 525px 1170px #FFF , 281px 372px #FFF , 1708px 1821px #FFF , 1962px 1227px #FFF , 1710px 1674px #FFF , 318px 786px #FFF , 654px 1796px #FFF , 1177px 1172px #FFF , 239px 580px #FFF , 1529px 1665px #FFF , 157px 1326px #FFF , 702px 132px #FFF , 6px 1643px #FFF , 1557px 982px #FFF , 1867px 605px #FFF , 1220px 1366px #FFF , 917px 542px #FFF , 1614px 1157px #FFF , 988px 1705px #FFF , 1402px 1592px #FFF , 1846px 631px #FFF , 131px 1063px #FFF , 1508px 1434px #FFF , 1048px 544px #FFF , 583px 1949px #FFF , 895px 1765px #FFF , 673px 1006px #FFF , 1288px 1255px #FFF , 1750px 491px #FFF , 1628px 1874px #FFF , 751px 1362px #FFF , 1709px 946px #FFF , 1294px 577px #FFF , 227px 1651px #FFF , 906px 1965px #FFF , 1709px 2000px #FFF , 1059px 1745px #FFF , 1042px 347px #FFF , 1157px 465px #FFF , 959px 1387px #FFF , 1807px 836px #FFF , 491px 1021px #FFF , 1133px 1216px #FFF , 849px 912px #FFF , 766px 708px #FFF , 1387px 1679px #FFF , 1761px 1835px #FFF , 1260px 1186px #FFF , 225px 1836px #FFF , 1076px 1931px #FFF , 1156px 1225px #FFF , 627px 1922px #FFF , 1436px 722px #FFF , 1870px 528px #FFF , 582px 1706px #FFF , 1397px 1705px #FFF , 581px 143px #FFF , 479px 756px #FFF , 744px 1623px #FFF , 1731px 948px #FFF , 1349px 697px #FFF , 1149px 224px #FFF , 1670px 403px #FFF , 1608px 610px #FFF , 1568px 812px #FFF , 1167px 662px #FFF , 6px 581px #FFF , 1412px 1760px #FFF , 1055px 1783px #FFF , 1833px 238px #FFF , 439px 1278px #FFF , 56px 1792px #FFF , 812px 1618px #FFF , 1032px 1494px #FFF , 1257px 874px #FFF , 537px 858px #FFF , 1085px 431px #FFF , 1025px 409px #FFF , 454px 1927px #FFF , 1852px 1217px #FFF , 511px 1612px #FFF , 1311px 1997px #FFF , 141px 302px #FFF , 1901px 449px #FFF , 1710px 1878px #FFF , 1685px 1637px #FFF , 3px 684px #FFF , 1298px 561px #FFF , 1489px 338px #FFF , 38px 1835px #FFF , 1876px 1727px #FFF , 220px 1828px #FFF , 1269px 375px #FFF , 1719px 28px #FFF , 1108px 1733px #FFF , 1440px 1976px #FFF , 1049px 837px #FFF , 271px 703px #FFF , 1622px 1238px #FFF , 1519px 627px #FFF , 836px 1321px #FFF , 164px 1852px #FFF , 918px 1988px #FFF , 330px 602px #FFF , 1912px 261px #FFF , 1945px 213px #FFF , 1517px 1666px #FFF , 19px 8px #FFF , 1640px 884px #FFF , 1132px 1827px #FFF , 1780px 1310px #FFF , 243px 851px #FFF , 594px 1587px #FFF , 1100px 280px #FFF , 128px 1638px #FFF , 1936px 1845px #FFF , 1568px 1679px #FFF , 1121px 956px #FFF , 348px 1790px #FFF , 952px 1357px #FFF , 1794px 597px #FFF , 771px 689px #FFF , 1301px 1941px #FFF , 288px 1807px #FFF , 670px 1853px #FFF , 1362px 953px #FFF , 888px 1109px #FFF , 1086px 164px #FFF , 1959px 1092px #FFF , 1227px 1089px #FFF , 1057px 639px #FFF , 1927px 734px #FFF , 1123px 1839px #FFF , 1247px 1413px #FFF , 631px 194px #FFF , 1789px 1565px #FFF , 1892px 1551px #FFF , 522px 66px #FFF , 725px 1287px #FFF , 747px 925px #FFF , 1996px 185px #FFF , 213px 513px #FFF , 1453px 220px #FFF , 489px 739px #FFF , 100px 575px #FFF , 1528px 252px #FFF , 1995px 614px #FFF , 38px 1719px #FFF , 1856px 621px #FFF , 1758px 501px #FFF , 970px 1146px #FFF , 1714px 287px #FFF , 1038px 467px #FFF , 1789px 343px #FFF , 1581px 438px #FFF , 1977px 1129px #FFF , 1565px 77px #FFF , 930px 195px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 782px 1548px #FFF , 1398px 1833px #FFF , 1000px 1441px #FFF , 939px 197px #FFF , 402px 1896px #FFF , 1864px 1164px #FFF , 36px 94px #FFF , 664px 204px #FFF , 296px 329px #FFF , 1644px 1811px #FFF , 781px 1996px #FFF , 1997px 168px #FFF , 1559px 850px #FFF , 1670px 1326px #FFF , 1473px 1682px #FFF , 728px 1290px #FFF , 1696px 1211px #FFF , 408px 1013px #FFF , 891px 605px #FFF , 1396px 87px #FFF , 753px 1655px #FFF , 723px 93px #FFF , 1650px 910px #FFF , 706px 405px #FFF , 586px 1866px #FFF , 1469px 1422px #FFF , 334px 1138px #FFF , 1514px 301px #FFF , 1806px 651px #FFF , 1712px 265px #FFF , 1727px 1016px #FFF , 744px 1795px #FFF , 1033px 929px #FFF , 76px 925px #FFF , 1048px 10px #FFF , 1661px 78px #FFF , 824px 675px #FFF , 1549px 157px #FFF , 1579px 691px #FFF , 528px 260px #FFF , 1977px 1494px #FFF , 1077px 268px #FFF , 1836px 550px #FFF , 126px 1583px #FFF , 629px 1558px #FFF , 873px 89px #FFF , 1053px 1687px #FFF , 1725px 741px #FFF , 1662px 1051px #FFF , 1310px 617px #FFF , 826px 1710px #FFF , 745px 1591px #FFF , 783px 1612px #FFF , 1307px 804px #FFF , 78px 1439px #FFF , 362px 603px #FFF , 109px 1916px #FFF , 294px 1049px #FFF , 1051px 1976px #FFF , 846px 812px #FFF , 222px 974px #FFF , 1393px 514px #FFF , 910px 1937px #FFF , 216px 623px #FFF , 490px 232px #FFF , 390px 1561px #FFF , 620px 1620px #FFF , 1191px 1658px #FFF , 1764px 256px #FFF , 1924px 625px #FFF , 1393px 1001px #FFF , 822px 399px #FFF , 1821px 95px #FFF , 1791px 696px #FFF , 1082px 640px #FFF , 80px 577px #FFF , 1559px 597px #FFF , 1910px 168px #FFF , 456px 1137px #FFF , 911px 1674px #FFF , 625px 1941px #FFF , 1877px 1498px #FFF , 654px 1470px #FFF , 1192px 1687px #FFF , 230px 630px #FFF , 937px 1481px #FFF , 1405px 1559px #FFF , 988px 1886px #FFF , 1165px 1333px #FFF , 935px 1578px #FFF , 1198px 160px #FFF , 1840px 1287px #FFF , 807px 1427px #FFF , 452px 959px #FFF , 533px 1635px #FFF , 436px 1314px #FFF , 1621px 1756px #FFF , 1594px 789px #FFF , 419px 307px #FFF , 1560px 504px #FFF;
  animation: animStar 250s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 782px 1548px #FFF , 1398px 1833px #FFF , 1000px 1441px #FFF , 939px 197px #FFF , 402px 1896px #FFF , 1864px 1164px #FFF , 36px 94px #FFF , 664px 204px #FFF , 296px 329px #FFF , 1644px 1811px #FFF , 781px 1996px #FFF , 1997px 168px #FFF , 1559px 850px #FFF , 1670px 1326px #FFF , 1473px 1682px #FFF , 728px 1290px #FFF , 1696px 1211px #FFF , 408px 1013px #FFF , 891px 605px #FFF , 1396px 87px #FFF , 753px 1655px #FFF , 723px 93px #FFF , 1650px 910px #FFF , 706px 405px #FFF , 586px 1866px #FFF , 1469px 1422px #FFF , 334px 1138px #FFF , 1514px 301px #FFF , 1806px 651px #FFF , 1712px 265px #FFF , 1727px 1016px #FFF , 744px 1795px #FFF , 1033px 929px #FFF , 76px 925px #FFF , 1048px 10px #FFF , 1661px 78px #FFF , 824px 675px #FFF , 1549px 157px #FFF , 1579px 691px #FFF , 528px 260px #FFF , 1977px 1494px #FFF , 1077px 268px #FFF , 1836px 550px #FFF , 126px 1583px #FFF , 629px 1558px #FFF , 873px 89px #FFF , 1053px 1687px #FFF , 1725px 741px #FFF , 1662px 1051px #FFF , 1310px 617px #FFF , 826px 1710px #FFF , 745px 1591px #FFF , 783px 1612px #FFF , 1307px 804px #FFF , 78px 1439px #FFF , 362px 603px #FFF , 109px 1916px #FFF , 294px 1049px #FFF , 1051px 1976px #FFF , 846px 812px #FFF , 222px 974px #FFF , 1393px 514px #FFF , 910px 1937px #FFF , 216px 623px #FFF , 490px 232px #FFF , 390px 1561px #FFF , 620px 1620px #FFF , 1191px 1658px #FFF , 1764px 256px #FFF , 1924px 625px #FFF , 1393px 1001px #FFF , 822px 399px #FFF , 1821px 95px #FFF , 1791px 696px #FFF , 1082px 640px #FFF , 80px 577px #FFF , 1559px 597px #FFF , 1910px 168px #FFF , 456px 1137px #FFF , 911px 1674px #FFF , 625px 1941px #FFF , 1877px 1498px #FFF , 654px 1470px #FFF , 1192px 1687px #FFF , 230px 630px #FFF , 937px 1481px #FFF , 1405px 1559px #FFF , 988px 1886px #FFF , 1165px 1333px #FFF , 935px 1578px #FFF , 1198px 160px #FFF , 1840px 1287px #FFF , 807px 1427px #FFF , 452px 959px #FFF , 533px 1635px #FFF , 436px 1314px #FFF , 1621px 1756px #FFF , 1594px 789px #FFF , 419px 307px #FFF , 1560px 504px #FFF;
}



@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.log-btns {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn{
      width: 80%;
      margin: 10px auto;
      padding: 20px;
      font-size: 16px;
      color: white;
      height:auto;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 60px;
      background: #136a8a;
      background: -webkit-linear-gradient(to left, #136a8a , rgba(78, 255, 239, 0.76));
      background: linear-gradient(to left, #136a8a , rgba(78, 255, 239, 0.76));
      border: 0;
    }
}

.signup-page {
    // background: skyblue;
    // padding: 20px;
}
form#new_user {
  display: flex;
  flex-direction: column;
  .half {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    position: relative;
    &.signup-speaker-btn{
      background: $purple;
    }
    &.signup-attendee-btn{
      background: $purple-light;
    }
    input{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -webkit-appearance: initial;
    }
    label{
      color: $white;
      z-index: 99;
      font-weight: 200;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
    }
  }
}

.second-step {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    .signup-form{
      padding:2em;
    }
}


.field.error {
  margin-bottom: 36px;
}
.field.error:before {
  background-color: #F44336;
}
.field.focused:before {
  width: 100%;
}

.error small.error {
  position: absolute;
  background: transparent;
  color: #F44336;
  font-style: normal;
  padding-left: 0;
}

.edit-hero{
  background: $purple;
  padding:1em;
  margin-bottom:2em;
}


.edit_project{
  select{
    display: block;
  }
}

// messages
.chat-item{
  margin: 1em auto;
  display: -webkit-box;
  padding:0 5px;
  .message-body {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
      padding:1em;
      &.left-sharp{
        border-radius: 10px 0 10px 10px;
      }
      &.right-sharp{
        border-radius: 0 10px 10px 10px;
      }
  }
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  padding: 2em 0;
}

.conversation-header {
    background: $turqoise;
    color:$purple;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.sender-details {
    font-size: .8em;
    color:$light-grey;
}

.reply-conversation{
  background: transparentize($purple, .9);
  .form-group{
    margin-bottom: 0;
  }
  .form-control {
    background: transparent;
    border: 0;
    padding: 1em;
    box-shadow: none;
  }

}

.project-panel {
    max-width: 90%;
    margin: 1.5em auto 3em;;
    border:1px solid #ddd;
    border-radius: 5px;
}
.project-header {
    background: $purple;
    padding: 1.5em 2em;
    color: $turqoise;
    text-transform: uppercase;
    letter-spacing: 2px;
    h3{
      margin:0;
    }
}
.project-description {
    padding: 2em;
}

.remove-fav {
    position: relative;
    text-align: center;
    a{
      margin-bottom: -2em;
    }
}

.card{
  border: 1px solid #ececec;
  .btn{
    &.btn-social-icon{
      color:$purple;
      font-size: 20px;
    }
  }
  a{
    color:$purple;
    &:hover{
      color:inherit;
    }
  }
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: $purple;
  margin-right: 0;
}

.br-theme-bars-1to10 .br-widget {
  height: 50px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.br-theme-bars-1to10 .br-widget a {
  display: block;
    width: 25px;
    padding: 5px 0;
    height: 25px;
    border-radius: 50%;
    float: left;
    border: 1px solid #e5e4e4;
    margin: 2px;
    text-align: center;
}
.br-theme-bars-1to10 .br-widget a.br-active,
.br-theme-bars-1to10 .br-widget a.br-selected {
  &:nth-child(1){
    background: transparentize($purple, .9);
  }
  &:nth-child(2){
    background: transparentize($purple, .8);
  }
  &:nth-child(3){
    background: transparentize($purple, .7);
  }
  &:nth-child(4){
    background: transparentize($purple, .6);
  }
  &:nth-child(5){
    background: transparentize($purple, .5);
  }
  &:nth-child(6){
    background: transparentize($purple, .4);
  }
  &:nth-child(7){
    background: transparentize($purple, .3);
  }
  &:nth-child(8){
    background: transparentize($purple, .2);
  }
  &:nth-child(9){
    background: transparentize($purple, .1);
  }
  &:nth-child(10){
    background: transparentize($purple, .05);
  }
  &:nth-child(11){
    background: transparentize($purple, .0);
  }
}
.br-theme-bars-1to10 .br-widget .br-current-rating {
  font-size: 20px;
  line-height: 2;
  float: left;
  padding: 0 20px 0 20px;
  color: #edb867;
  font-weight: 400;
}
.br-theme-bars-1to10 .br-readonly a {
  cursor: default;
}
.br-theme-bars-1to10 .br-readonly a.br-active,
.br-theme-bars-1to10 .br-readonly a.br-selected {
  &:nth-child(1){
    background: transparentize($purple, .9);
  }
  &:nth-child(2){
    background: transparentize($purple, .8);
  }
  &:nth-child(3){
    background: transparentize($purple, .7);
  }
  &:nth-child(4){
    background: transparentize($purple, .6);
  }
  &:nth-child(5){
    background: transparentize($purple, .5);
  }
  &:nth-child(6){
    background: transparentize($purple, .4);
  }
  &:nth-child(7){
    background: transparentize($purple, .3);
  }
  &:nth-child(8){
    background: transparentize($purple, .2);
  }
  &:nth-child(9){
    background: transparentize($purple, .1);
  }
  &:nth-child(10){
    background: $purple;
  }
  // background: #f2cd95;
}
.br-current-rating {
  display: none;
}
.br-theme-bars-1to10 .br-readonly .br-current-rating {
  color: #f2cd95;
}
@media print {
  .br-theme-bars-1to10 .br-widget a {
    border: 1px solid #b3b3b3;
    background: white;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-theme-bars-1to10 .br-widget a.br-active,
  .br-theme-bars-1to10 .br-widget a.br-selected {
    border: 1px solid black;
    background: white;
  }
  .br-theme-bars-1to10 .br-widget .br-current-rating {
    color: black;
  }
}
