$white: rgba(255, 255, 255, 1);
$mypurple: rgba(72,	60,	107, 1);
$turqoise: rgba(78, 255, 239, 1);
$purple-light: rgba(190, 151, 198, 1);
$blue: rgba(1, 25, 54, 1);
$green: rgba(4, 167, 119, 1);
$dark-grey: #666;
$light-grey: #9e9e9e;
$black: #101010;
