<h2>This is the speakers page</h2>

<%@speakers.each do |speaker|%>
  <%=link_to speaker.name, speaker_path(speaker) %>
  <br>
<%end%>
<button class="icobutton icobutton--thumbs-up">
  <span class="fa fa-heart"></span>
</button>
