
<div class="row intro">
  <div class="avatar">
    <img src="http://placehold.it/100x100" alt="">
  </div>
  <h5 class="user-name">Hello <%= @speaker.name%></h5>
  <h6 class="title">Front-end developer</h6>
  <div class="social">
    <a class="btn btn-social-icon btn-twitter">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-linkedin">
      <span class="fa fa-linkedin"></span>
    </a>
  </div>

  <button class="contact">
    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Check messages
  </button>
</div>
  <!-- <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a> -->
<div class="row summary">
  <div class="container">
    <h5>SUMMARY</h5>
    <p>As a web designer with three years of experience in a growing international startup, I recently decided to dive head-first into the world of front end Web Development at IronHack. It’s been quite the adventure.</p>
  </div>
</div>
<div class="row project-desc">
  <div class="screenshot">
    <img src="https://source.unsplash.com/random/450x200" alt="">
  </div>
  <div class="body">
    <h5>PROJECT: <span class="project-name">PROJECT NAME</span></h5>
    <p>As a web designer with three years of experience in a growing international startup, I recently decided to dive head-first into the world of front end Web Development at IronHack. It’s been quite the adventure.</p>
    <div class="tags"><span class="label">RUBY</span><span class="label">HTML</span><span class="label">CSS</span><span class="label">JavaScript</span></div>
  </div>
</div>
<div class="sticky-btm">

</div>
